/* Canvas Element */
.canvas-element {
  transition: box-shadow var(--transition-fast);
}

.canvas-element.selected {
  box-shadow: 0 0 0 2px var(--accent);
}

.canvas-element.key {
  box-shadow: 0 0 0 2px var(--warning);
}
